<!DOCTYPE html>
<html>
<header>
	<meta charset="UTF-8"> 
	<title>CYOA</title>
	{{#style}}
	<style>
		* {
			padding: 0;
			margin: 0;
			color: {{{textColor}}};
		}

		body {
			font-family: 'Fira Sans', sans-serif;
			background: url({{{backgroundImageBlended}}});
			background-position: center;
			width: 1240px;
			margin-left: auto;
			margin-right: auto;
			text-align: justify;
		}

		h1, h2, .description-wrapper, .option {
			padding: 16px;
			border-radius: 16px;
			overflow: hidden;
			background-color: {{{optionColor}}};
			margin: 16px 0;
		}

		h1 {
			text-align: center;
			font-style: italic;
			margin-top: 48px;
			font-size: 64px;
			margin-bottom: -48px;
		}
		h2 {
			text-align: center;
			font-style: italic;
			font-size: 48px;
		}
		h3 {
			text-align: center;
			font-style: italic;
			font-size: 24px;
		}

		section {
			width: 100%;
			margin: 64px 0;
		}

		.description-wrapper {
			padding: 16px;
		}
		.description-wrapper .description {
			margin: auto;
			width: auto;
		}

		.description p {
			margin: 16px 0;
		}

		.options {
			display: flex;
			flex-wrap: wrap;
			margin: -8px;
		}
		.option {
			display: inline-block;
			flex-grow: 0;
			flex-shrink: 0;
			margin: 8px;
		}
		.row1 .option {
			width: calc((100% - 24px * (1 * 2)) / 1);
		}
		.row2 .option {
			width: calc((100% - 24px * (2 * 2)) / 2);
		}
		.row3 .option {
			width: calc((100% - 24px * (3 * 2)) / 3);
		}
		.row4 .option {
			width: calc((100% - 24px * (4 * 2)) / 4);
		}
		.row5 .option {
			width: calc((100% - 24px * (5 * 2)) / 5);
		}

		.left-images img, .alternating-images .option:nth-of-type(2n+1) img {
			margin: -16px 16px -16px -16px;
			width: calc(50% + 16px);
			float: left;
		}
		.right-images img, .alternating-images .option:nth-of-type(2n) img {
			margin: -16px -16px -16px 16px;
			width: calc(50% + 16px);
			float: right;
		}
		.top-images img {
			width: calc(100% + 32px);
			margin: -16px -16px 0 -16px;
		}

		ul {
			list-style: 
		}
		li {
			margin-left: 32px;
		}
	</style>
	{{/style}}
	<style>{{costumStyle}}</style>
</header>
<body>
	{{#projectTitle}}
	<h1>{{{projectTitle}}}</h1>
	{{/projectTitle}}
	{{#sections}}
	<section>
		{{#sectionTitle}}
		<h2>{{{sectionTitle}}}</h2>
		{{/sectionTitle}}
		{{#description}}
		<div class="description-wrapper text">
			<div class="description">
				{{{description}}}
			</div>
		</div>
		{{/description}}
		<div class="options {{imageClass}} row{{numPerRow}}">
			{{#options}}
			<div class="option">
				{{#image}}
				<img src="{{image}}"/>
				{{/image}}
				{{#cost}}
				<span class="cost">{{{cost}}}</span>
				{{/cost}}
				{{#optionTitle}}
				<h3>{{{optionTitle}}}</h3>
				{{/optionTitle}}
				{{#description}}
				<div class="description">
					{{{description}}}
				</div>
				{{/description}}
			</div>
			{{/options}}
		</div>
	</section>
	{{/sections}}
</body>
</html>