<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"> 
	<title>CYOA</title>
	<style>
		{{{style}}}
	</style>
	<style>
		{{costumStyle}}
	</style>
</head>
<body>
	{{#projectTitle}}
	<h1>{{{projectTitle}}}</h1>
	{{/projectTitle}}
	{{#sections}}
	<section class="{{{classes}}}">
		{{#sectionTitle}}
		<h2>{{{sectionTitle}}}</h2>
		{{/sectionTitle}}
		{{#description}}
		<div class="description-wrapper text">
			<div class="description">
				{{{description}}}
			</div>
		</div>
		{{/description}}
		<div class="options {{imageClass}} row{{numPerRow}}">
			{{#options}}
			<div class="option {{{classes}}}">
				{{#image}}
				<img src="{{image}}"/>
				{{/image}}
				{{#cost}}
				<span class="cost">{{{cost}}}</span>
				{{/cost}}
				{{#optionTitle}}
				<h3>{{{optionTitle}}}</h3>
				{{/optionTitle}}
				{{#description}}
				<div class="description">
					{{{description}}}
				</div>
				{{/description}}
			</div>
			{{/options}}
		</div>
	</section>
	{{/sections}}
</body>
</html>